*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

:root{
    --primary1: #00bbff;
    --primary2: #0074c1;
    --primary3: #00719c;
    --primary4: #002743;
    --back-color: #ffffff;
    --paragraph-size: .8rem;
}

body{
    background: var(--back-color);
}

.s1{
    width: 100%;
    height: 70vh;
    overflow-x: hidden;
}

.carousel-container{
    width: 100%;
    height: 100%;
    display: flex;
    position: relative;
}

.container{
    padding: 1em;
}

.c1{
    background: linear-gradient(0deg, #01426da2, #01426da2), url(../images/cargo-ship-sea.jpeg);
    background-size: cover;
    background-position: center;
    min-width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.c2{
    background: linear-gradient(0deg, #01426d99, #01426da2), url(../images/logistics-transportation-cargo-ship-cargo-plane-with-working-crane-bridge-shipyard-sunrise-logistic-import-export-transport-industry-background-ai-generative.jpeg);
    background-size: cover;
    background-position: center;
    min-width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.c3{
    background: linear-gradient(0deg, #01426d99, #01426da2), url(../images/abundant-crates-cardboard-filled-warehouse-generated-by-ai.jpeg);
    background-size: cover;
    background-position: center;
    min-width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.hero-contents{
    text-align: center;
    margin-bottom: 5em;
}

.hero-contents h1{
    font-size: 1.8rem;
    font-weight: 500;
}

.hero-contents p{
    font-weight: 300;
    font-size: .9rem;
    margin: 1em 0;
}

.hero-contents button{
    font-size: 1rem;
    padding: .7em 1.5em;
    border: none;
    border-radius: .3em;
    color: white;
    background: var(--primary2);
}

.solutions{
    position: absolute;
    z-index: 900;
    width: 85%;
    top: 69%;
    left: 50%;
    transform: translate(-50%, 0);
    display: flex;
    flex-direction: column;
}

.sol{
    display: flex;
    gap: 1em;
    background: #f4faff;
    padding: 1.5em 1.3em;
    border-radius: 0.1em;
    position: relative;
    overflow: hidden;
}

.sol::after{
    content: '';
    position: absolute;
    width: 5em;
    height: 5em;
    background: #00719c;
    transform: rotate(45deg);
    right: -12%;
    bottom: -23%;
}

.sol i{
    font-size: 1.8rem;
    color: var(--primary1);
}

.sol-content h3{
    margin-bottom: .4em;
    font-weight: 500;
}

.sol-content p{
    font-size: var(--paragraph-size);
    font-weight: 300;
    margin-bottom: .7em;
}

.sol-content a{
    text-decoration: none;
    color: var(--primary1);
}

.warehousing{
    background: var(--primary4);
    color: white;
}


/* second-page - about-page */

.s2{
    position: -webkit-sticky;
    position: sticky;
    z-index: 10;
    margin-top: 16em;
}

.about-items{
    margin-bottom: 3em;
}

.about-items h2{
    font-weight: 500;
    margin-bottom: .5em;
    position: relative;
}

.about-items h2::after{
    content: '';
    position: absolute;
    width: 2em;
    height: 4em;
    top: -10%;
    left: -3%;
    background: #00000017;
    transform: skewY(30deg);
}

.about-items span{
    color: var(--primary1);
}

.about-items p{
    font-weight: 300;
    letter-spacing: .8px;
    line-height: 1.7em;
    font-size: var(--paragraph-size);
    margin-bottom: .8em;
}

.about-items button{
    padding: 1em 1.5em;
    border: none;
    border-radius: .2em;
    background: #00000028;
    cursor: pointer;
    transition: .3s;
}

.about-items button:hover{
    background: var(--primary2);
    color: white;
}

.about-img{
    width: 100%;
}

.about-img img{
    width: 100%;
    border-radius: .4em;
    height: 20em;
    object-fit: cover;
    object-position: left;
}

/* third-section -- services */

.s3{
    background: #00212e12;
    padding: 3em 0;
    margin-top: 2em;
    position: relative;
}

.services{
    z-index: 10;
}

.services-heading-content h2{
    font-weight: 500;
    margin-bottom: .5em;
    position: relative;
}

.services-heading-content h2 span{
    color: var(--primary1);
}

.s3::before{
    content: '';
    position: absolute;
    width: 2.5em;
    height: 5em;
    top: 3%;
    left: 1%;
    background: #ffffff;
    transform: skewY(30deg);
}

.s3::after{
    content: '';
    position: absolute;
    width: 2.5em;
    height: 5em;
    top: 50%;
    right: 1%;
    background: var(--primary4);
    transform: skewY(30deg);
}

.services-heading-content p{
    font-weight: 300;
    letter-spacing: .8px;
    line-height: 1.7em;
    font-size: var(--paragraph-size);
    margin-bottom: 1em;
    position: relative;
}

.services-heading-btn button{
    padding: 1em 1.5em;
    border: none;
    border-radius: .2em;
    background: var(--primary4);
    cursor: pointer;
    transition: .3s;
    color: white;
}

.services-heading-btn button:hover{
    background: var(--primary1);
}


.services-heading{
    margin-bottom: 3em;
}

.services-content{
    display: flex;
    flex-direction: column;
    gap: 2em;
}

.services-info{
    width: 100%;
    padding: 2.5em 2em;
    border-bottom: 3px solid var(--primary1);
    background: #f1f6f9;
    transition: .3s;
}

.services-infos{
    background: url(../images/truck-with-white-trailer-that-says-scania-side.jpeg);
    background-size: cover;
    background-position: center;
    border-radius: .1em;
    box-shadow: 0 1px 15px rgba(0, 0, 0, 0.228);
}

.plane{
    background: url(../images/airplane-taking-off-airport-road.jpeg);
    background-size: cover;
    background-position: center;
}

.ship{
    background: url(../images/shipping-industry-carries-cargo-large-container-ships-generative-ai.jpeg);
    background-size: cover;
    background-position: center;
}

.services-info:hover{
    background: #002c3dca;
    background-size: cover;
    background-position: center;
    color: white;
}

.services-info i{
    font-size: 2.5rem;
    color: var(--primary1);
}

.services-info h2{
    font-weight: 500;
    margin: .5em 0;
}

.services-info p{
    font-weight: 300;
    letter-spacing: .8px;
    line-height: 1.7em;
    font-size: var(--paragraph-size);
    margin-bottom: 1em;
}

.services-info ul{
    padding: 0 1em;
}

.services-info ul li{
    font-weight: 400;
    letter-spacing: .8px;
    font-size: var(--paragraph-size);
    margin-bottom: .5em;
    color: #00bbff;
}

.services-info ul span{
    color: black;
}

.services-info:hover span{
    color: white;
}


/* fourth section - goals */
.s4{
    padding: 2em 0;
    color: white;
    background: linear-gradient(0deg, #002743e0, #002743e0), url(../images/logistics-warehouse-ai-generative.jpeg);
    background-size: cover;
    background-position: center;
}

.c6-heading h2{
    font-weight: 500;
    margin-bottom: .5em;
    position: relative;
}

.c6-heading h2 span{
    color: var(--primary1);
}

.c6-header button{
    font-size: var(--paragraph-size);
    padding: .7em 1.5em;
    border: none;
    border-radius: .3em;
    color: white;
    background: var(--primary1);
    margin-bottom: 3em;
}

.choose{
    display: flex;
    flex-direction: column;
    gap: 3em;
}

.choose-contents a{
    text-decoration: none;
    color: white;
    transition: color .3s;
}

.choose-contents a h3{
    font-weight: 400;
    position: relative;
}

.choose-contents h3::after{
    content:'';
    position: absolute;
    left: 0;
    bottom: -40%;
    width: 100%;
    height: 1px;
    background: #00bbff39;
    transition: .3s;
}

.choose-contents a:hover{
    color: var(--primary1);
}

.choose-contents a:hover h3::after{
    background: var(--primary1);
}

.choose-contents p{
    font-weight: 200;
    letter-spacing: .8px;
    line-height: 1.7em;
    font-size: var(--paragraph-size);
    margin-top: 2em;
}


/* fifth section - goals */

.s5{
    background: linear-gradient(0deg, #f9fcffe6, #f9fcffe6), url(../images/map.jpeg);
    background-size: cover;
    background-position: center;
    padding: 2em 0;
}

.c7-heading h2{
    font-weight: 500;
    margin-bottom: .5em;
    position: relative;
    text-align: center;
}

.c7-heading h2 span{
    color: var(--primary1);
}

.c7-heading p{
    font-weight: 300;
    letter-spacing: .8px;
    line-height: 1.7em;
    font-size: var(--paragraph-size);
    margin-bottom: 3em;
    text-align: center;
}

.goals-items{
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 2em;
}

.goals-content{
    display: flex;
    flex-direction: column;
    gap: 2em;
}

.goals-infos i{
    font-size: 2.5rem;
    color: var(--primary1);
    margin-bottom: .1em;
}

.goals-infos h1{
    color: var(--primary3);
    font-weight: 400;
    font-size: 2rem;
    margin-bottom: .1em;
}

.goals-infos h3{
    font-weight: 500;
    margin-bottom: .4em;
}

.goals-infos p{
    font-weight: 300;
    letter-spacing: .8px;
    font-size: var(--paragraph-size);
}

/* testimonials-section */

.s-testimonials{
    padding: 2em 0 3em;
    background: #00212e12;
}

.t-heading h2{
    font-weight: 500;
    margin-bottom: .5em;
}

.t-heading h2 span{
    color: var(--primary1);
}

.t-heading p{
    font-size: var(--paragraph-size);
    font-weight: 300;
    letter-spacing: .8px;
    line-height: 1.7em;
}

.t-heading{
    margin-bottom: 4em;
}

.testimonial-container{
    width: 90%;
    margin: 0 auto;
    position: relative;
}

.test-wrapper{
    overflow: hidden;
    width: 100%;
}

.testimonial-carousel{
    width: 100%;
    display: flex;
}

.testimonial{
    min-width: 100%;
    height: 100%;
    padding: 0 1.5em;
    background: #002743;
    color: white;
    height: 550px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: .3em;
}

.profile{
    display: flex;
    align-items: center;
    gap: 1em;
}

.profile-img{
    width: 5em;
    height: 5em;
}

.profile-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
}

.profile-content h3{
    font-weight: 500;
}

.profile-content p{
    font-size: .9rem;
    color: var(--primary1);
}

.profile{
    margin-bottom: 1em;
}

.testimonial p{
    font-size: var(--paragraph-size);
    font-weight: 300;
    letter-spacing: .8px;
    line-height: 1.7em;
}

.testimonial-container i{
    font-size: 2rem;
    padding: .2em;
    background: white;
    border-radius: 50%;
    transition: .3s;
    cursor: pointer;
}

.testimonial-container i:hover{
    background: var(--primary1);
    color: white;
}

.bx-chevron-left{
    position: absolute;
    top: 50%;
    left: -8%;
    transform: translate(-8%, -50%);
}

.bx-chevron-right{
    position: absolute;
    top: 50%;
    right: -8%;
    transform: translate(-8%, -50%);
}

/* sixth section - contac */

.s6{
    padding: 2em 0;
    background: linear-gradient(0deg, #00142284, #00142284), url(../images/global-business-container-cargo.jpeg);
    background-size: cover;
    background-position: left;
}

.contact{
    text-align: center;
    color: white;
}

.contact h1{
    font-weight: 400;
    font-size: 1.7rem;
}

.contact p{
    font-size: var(--paragraph-size);
    font-weight: 300;
    margin-bottom: 1em;
}

.contact h1 span{
    color: var(--primary1);
}

.contact h2{
    font-size: 2rem;
    font-weight: 500;
}

.contact a{
    text-decoration: none;
}

.contact button{
    padding: 1em 2em;
    margin-top: .8em;
    background: var(--primary1);
    border: none;
    cursor: pointer;
    color: white;
    border-radius: .1em;
}


/* seventh section - tracking item */

.s7{
    padding: 2em 0;
    position: relative;
}

.track-container{
    width: 95%;
    margin: 0 auto;
    background: #e0e4ec;
    padding: 1.5em 1em;
    text-align: center;
}

.track-container::after{
    content: "";
    width: 2.5em;
    height: 5em;
    position: absolute;
    top: 10%;
    right: 2%;
    background: var(--primary4);
    transform: skewY(40deg);
}

.track-container h2{
    font-weight: 500;
}

.track-container h2 span{
    color: var(--primary1);
}

.track-container p{
    font-size: var(--paragraph-size);
    font-weight: 300;
    margin-bottom: 1em;
}

.input-container{
    width: 100%;
}

.input-container input{
    width: 100%;
    padding: 1em;
    background: white;
    border: none;
    border-radius: .2em;
    margin-bottom: 1em;
}

.input-container input:focus{
    outline: 1px solid #00bbff;
}

.input-container button{
    padding: .8em 2em;
    background: var(--primary1);
    border: none;
    cursor: pointer;
    color: white;
    border-radius: .1em;
}



@media screen and (max-width: 320px){
    .solutions{
        display: none;
    }

    .s2{
        margin-top: 2em;
    }
}