*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

:root {
    --primary1: #00bbff;
    --primary2: #0074c1;
    --primary3: #00719c;
    --primary4: #002743;
    --back-color: #f9fcff;
    --paragraph-size: .8rem;
}

body {
    background: var(--back-color);
}

.container{
    padding: 1em;
}

.s1 {
    height: 40vh;
    background: linear-gradient(0deg, #0000006c, #0000006c), url(../images/medium-shot-man-wearing-helmet.jpeg);
    background-size: cover;
    background-position: top;
    color: white;
}

.c1 {
    height: 100%;
}

.hero-contents {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.hero-contents h1 {
    font-size: 1.8rem;
    font-weight: 500;
    margin-bottom: .3em;
}

.hero-links {
    display: flex;
    align-items: center;
    gap: .7em;
}

.hero-links a {
    text-decoration: none;
    color: white;
    font-size: .85rem;
}

.hero-links a:hover {
    text-decoration: underline;
}

.hero-links span {
    font-size: .85rem;
    text-decoration: underline;
    color: var(--primary1);
}



@media screen and (min-width: 768px){

    .container{
        max-width: 768px;
        margin: 0 auto;
    }

        .hero-contents h1 {
            font-size: 2rem;
        }
    
}

@media screen and (min-width: 1024px) {

    .container{
        max-width: 1200px;
    }

    .hero-contents {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .hero-contents h1 {
        font-size: 3rem;
    }

    
}